.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 8px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    max-height: 36px;
    font-family: var(--font-family);
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    + .wrapper {
        margin-left: 8px;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
}

.title {
    font-weight: 500;
}

// Button types

.outline {
    color: #065fd4;
    border-color: #065fd4;
    background-color: transparent;
    border-radius: 4px;

    &:hover {
        background-color: #e4ebfc;
    }
}
