.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #f9f9f9;
    width: 100%;
    display: flex;
    margin-top: var(--header-height);
    min-height: 1200px;
}

// Responsive

.grid {
    max-width: 1140px;
    margin: 0 auto;
}

.grid__row {
    margin-top: 20px;
}
