@import 'normalize.css';

:root {
    --black: #000;
    --white: rgba(255, 255, 255, 1);
    --text-color: #333;
    --search-border-radius: 3px;
    --header-height: 56px;
    --layout-width: 1334px;

    --font-family: 'Roboto', 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: var(--font-family);
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

// Fonts embedded
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2');
}
@font-face {
    font-family: Roboto;
    src: url('/assets//fonts/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2');
}
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2');
}
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/KFOmCnqEu92Fr1Mu4mxK.woff2');
}
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/KFOmCnqEu92Fr1Mu7GxKOzY.woff2');
}
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/KFOmCnqEu92Fr1Mu7WxKOzY.woff2');
}

// Custom tippy tooltip

body {
    .tippy-box {
        font-size: 1.2rem;
        background-color: #616161;
    }

    .tippy-arrow {
        display: none;
    }

    #tippy-5 .tippy-box {
        background-color: rgb(31, 29, 29);
    }
}
