.video-player-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.video-player-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-player-info {
    padding: 20px 0 4px 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(18, 18, 26, 0.12);
}

.video-player-name {
    font-size: 1.5rem;
    font-weight: 400;
}

.video-player-detail {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-player-sub-info {
    font-size: 1.2rem;
    font-weight: 500;
    color: #606060;
}

.home__video-split {
    padding: 0 5px 0 5px;
}

.video-player-actions {
    display: flex;
}

.video-player-action {
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.icon {
    padding: 4px;
}
.title {
    color: rgb(3, 3, 3);
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 5px;
}

// Commment

.home__video-comment-wrapper {
    --text-color: #030303;
    width: 100%;
    height: 100%;
}
