.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    margin-top: var(--header-height);
}
// Responsive

.grid {
    width: var(--layout-width);
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column-2 {
    position: fixed;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
    width: 16.667%;
}

.grid__column-10 {
    margin-left: 16.667%;
    padding-left: 12px;
    padding-right: 12px;
    width: 83.333%;
}
