.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 240px;
    background-color: rgb(255, 255, 255);
    max-height: min((100vh - 96px) - 60px, 734px);
    border: 1px solid #ccc !important;
}
