.video-desc-info-wrapper {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(18, 18, 26, 0.12);
}

.video-desc-channel-btn {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 12px;
}

.video-desc-channel {
    display: flex;
    align-items: center;
}

.video-channel-avatar {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.video-channel-info {
    padding-left: 10px;
}

.video-channel-name {
    line-height: 1.6rem;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}

.video-channel-subscribes {
    font-size: 1.1rem;
    color: rgb(96, 96, 96);
    line-height: 1.6rem;
}

.subscribe-btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
    width: 90px;
    height: 30px;
    border-radius: 3px;
    background-color: #cc0000;
    color: var(--white);
}

.subscribe-btn-inactive {
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
    width: 90px;
    height: 30px;
    border-radius: 3px;
    background-color: #ececec;
    color: #606060;
}

.video-description-wrapper {
    margin-left: 50px;
}

.video-description {
    font-size: 1.2rem;
}

.video-desc-more-btn,
.video-desc-less-btn {
    font-weight: 600;
    margin-bottom: 15px;
    background-color: transparent;
    margin-top: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    color: rgb(96, 96, 96);
}
